/*-------------------Colors

#2B2D42 - DARK BLUE
#8D99AE - LIGHT BLUE
#EDF2F4 - BLUE TO WHITE
#EF233C - RED

#d7d5bc - 膚色

-------------------*/

/*-------------------Global sytles--------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}

/*--------------------------------------------Header only-------------------------------------------------*/

header{
    position: relative;
    padding-top: 50px;
    text-align: center;
    background-color: #d7d5bc;
    background-image: url("./maomao.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

header h1, header h2 {
    color: #ffffff;
}

h1{
    margin: 0;
}

.content-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 60px 50px;
    max-width: 950px;
    overflow: hidden;
}

@media (min-width: 935px) {
    .content-wrap{
        flex-direction: row;
    }
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width: 440px) {
    .profile-img {
        width: 200px; 
        height: 200px;
    }
}

@media (min-width: 935px) {
    .profile-img {
        width: 250px; 
        height: 250px;
    }
}

/*--------------------------------------------main-------------------------------------------------*/

main {
    background-color: #f6faee;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main section {
    background-color: #ffffff;
    border-radius: 20px;
}


main video {
    margin-top:20px;
    width: 800px;
    border-radius: 20px;
    margin: 10px 20px 10px;
}

main p {
    width: 800px;
    margin: 10px 20px 50px;
}


@media (max-width: 935px) {

    main video {
        width: 500px;
    }
    
    main p {
        width: 500px;
    }
    
}


/*--------------------------------------------Footer---------------------------------------------------*/

footer {
    text-align: center;
    background-color: #232426;
    color: #ffffff;
    font-size: 10px;
}

.contact-wrapper {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 900px;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #8D99AE solid 2px;
}

.media-pic:hover {
    transform: scale(1.1);
}

.p+h3 {
    margin-top: 30px;
}

.footer p {
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: white;
}
